<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__list"> 
                <li class="main-header__item"><a class="<%= path==='/'?'active':''%>" href="/">Users</a></li>
                <li class="main-header__item"><a class="<%= path==='/add-user'?'active':''%>" href="/add-user">Add User</a></li class="main-header__item">
            </ul>
        </nav>
    </header>
    <main>